<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour ton a-chat <%= @user.firstname %> <%= @user.lastname %> !</h1>

    <p> À très vite sur <%= @url %> !</p>
    
  </body>
</html>