
<div class="container">
  <div class="jumbotron jumbotron-fluid ">
    <h1>Ajoute ton propre matou !</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Back', products_path, class: 'btn btn-danger'%>
  </div>
</div>