<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2020 E-Cat</small> 
          <small class="block">Créé par Duguet Vincent, Querné Jérémy, Dubut-Touroul Quentin, Bertrand Dan et Doury Manuel. Avec les conseils avisés de Baldy Clement</small>
        </p>
      </div>
    </div>
  </div>
</footer>