<!-- navbar-->
    <header class="header"> 
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 "><a class="navbar-brand" href="index.html">Varkala</a>
        <ul class="list-inline mb-0 d-block d-lg-none">
          <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#loginModal">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#avatar-1"> </use>
              </svg></a></li>
          <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary position-relative" href="wishlist.html">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#heart-1"> </use>
              </svg>
              <div class="navbar-icon-badge">3</div></a></li>
          <li class="list-inline-item position-relative mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarCart">
              <svg class="svg-icon navbar-icon">
                <use xlink:href="#retail-bag-1"> </use>
              </svg>
              <div class="navbar-icon-badge">5</div></a></li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="svg-icon navbar-icon">
            <use xlink:href="#menu-hamburger-1"> </use>
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mt-3 mt-lg-0">
            <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" id="homeDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
              <div class="dropdown-menu" aria-labelledby="homeDropdown"><a class="dropdown-item" href="index.html">Home 1 - Fashion </a><a class="dropdown-item" href="index-2.html">Home 2 - Fashion </a><a class="dropdown-item" href="index-3.html">Home 3 - Design <span class="badge badge-primary-light ml-1">New</span> </a><a class="dropdown-item" href="index-4.html">Home 4 - Design <span class="badge badge-primary-light ml-1">New</span> </a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="shopDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu py-0" aria-labelledby="shopDropdown" data-min-width="750px" data-translate-x="-50px">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 p-lg-5">
                    <h6 class="dropdown-header h6 pl-lg-0">Shop pages</h6><a class="dropdown-item pl-lg-0" href="category-full.html">Full width </a><a class="dropdown-item pl-lg-0" href="category-full-sidebar.html">Full width with category menu </a><a class="dropdown-item pl-lg-0" href="category-big-products.html">Full width with big products </a><a class="dropdown-item pl-lg-0" href="category-boxed.html">Fixed width </a><a class="dropdown-item pl-lg-0" href="category-sidebar.html">Fixed width & sidebar </a><a class="dropdown-item pl-lg-0" href="category-masonry.html">Fixed width & masonry layout<span class="badge badge-primary-light ml-1">New</span> </a><a class="dropdown-item pl-lg-0" href="category-categories.html">Subcategories </a>
                  </div>
                  <div class="col-lg-4 col-sm-6 p-lg-5">
                    <h6 class="dropdown-header h6 pl-lg-0">Product pages</h6><a class="dropdown-item pl-lg-0" href="detail-1.html">Product with sticky info </a><a class="dropdown-item pl-lg-0" href="detail-2.html">Product with background </a><a class="dropdown-item pl-lg-0" href="detail-3.html">Product standard  </a>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block"><img class="bg-image" src="img/product/kyle-loftus-596319-unsplash-cropped.jpg" alt=""></div>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="iconsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Icons</a>
              <div class="dropdown-menu py-lg-0" aria-labelledby="iconsDropdown" data-min-width="750px">
                <div class="row py-lg-5 px-4">
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#trousers-1"> </use>
                      </svg>
                      <h6>Trousers</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#suit-1"> </use>
                      </svg>
                      <h6>Jackets</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#shirt5-1"> </use>
                      </svg>
                      <h6>T-Shirts</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#shirt1-1"> </use>
                      </svg>
                      <h6>Shirts</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#pullover-1"> </use>
                      </svg>
                      <h6>Pullovers</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-5"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#scarf-1"> </use>
                      </svg>
                      <h6>Scarfs</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#shorts1-1"> </use>
                      </svg>
                      <h6>Shorts</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#underwear1-1"> </use>
                      </svg>
                      <h6>Underwear</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#watch-1"> </use>
                      </svg>
                      <h6>Watches</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#portfolio-1"> </use>
                      </svg>
                      <h6>Bags</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#cap-1"> </use>
                      </svg>
                      <h6>Caps</h6></a></div>
                  <div class="col-6 col-sm-3 col-md-2 text-center mb-2 mb-lg-0"><a class="text-reset" href="category-categories.html">
                      <svg class="svg-icon w-3rem h-3rem mb-2 svg-icon-light">
                        <use xlink:href="#bowtie-1"> </use>
                      </svg>
                      <h6>Accessories</h6></a></div>
                </div>
                <div class="p-3 bg-primary text-center text-sm d-none d-lg-block">
                  <p class="mb-0">Don't miss our biggest sales this year. Use the code "SUMMER35" at checkout until Jun. 15! </p>
                </div>
              </div>
            </li>
            <!-- Megamenu-->
            <li class="nav-item dropdown position-static"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
              <div class="dropdown-menu megamenu px-4 px-lg-5 py-lg-5" data-translate-x="-50%">
                <div class="row">
                  <div class="col-lg-3 col-sm-6"><img class="img-fluid mb-3 d-none d-lg-block" src="app/assets/img/blog/christopher-campbell-28571-unsplash.jpg" alt=""/>
                    <!-- Megamenu list-->
                    <h6>Homepage</h6>
                    <ul class="megamenu-list list-unstyled">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="index.html">Home 1 - Fashion   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-2.html">Home 2 - Fashion   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-3.html">Home 3 - Design <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="index-4.html">Home 4 - Design <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                    </ul>
                    <!-- Megamenu list-->
                    <h6>Category</h6>
                    <ul class="megamenu-list list-unstyled mb-lg-0">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-full.html">Full width   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-full-sidebar.html">Full width with category menu   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-big-products.html">Full width with big products   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-boxed.html">Fixed width   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-sidebar.html">Fixed width & sidebar   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-masonry.html">Fixed width & masonry layout<span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="category-categories.html">Subcategories   </a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-sm-6"><img class="img-fluid mb-3 d-none d-lg-block" src="img/blog/ian-dooley-347962-unsplash.jpg" alt=""/>
                    <!-- Megamenu list-->
                    <h6>Order process</h6>
                    <ul class="megamenu-list list-unstyled">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="cart.html">Shopping cart   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="checkout1.html">Checkout - Five steps <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="checkout.html">Checkout - Single-page   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="checkout-confirmed.html">Checkout - confirmed   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="wishlist.html">Wishlist   </a></li>
                    </ul>
                    <!-- Megamenu list-->
                    <h6>Product</h6>
                    <ul class="megamenu-list list-unstyled mb-lg-0">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="detail-1.html">Product with sticky info   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="detail-2.html">Product with background   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="detail-3.html">Product standard    </a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-sm-6"><img class="img-fluid mb-3 d-none d-lg-block" src="img/blog/ian-dooley-347942-unsplash.jpg" alt=""/>
                    <!-- Megamenu list-->
                    <h6>Blog</h6>
                    <ul class="megamenu-list list-unstyled">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="blog.html">Blog   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="blog-masonry.html">Blog - Masonry   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="post.html">Post   </a></li>
                    </ul>
                    <!-- Megamenu list-->
                    <h6>Pages</h6>
                    <ul class="megamenu-list list-unstyled">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="about.html">About - Company <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="about-2.html">About v.2 - Person <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="faq.html">F.A.Q. <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="contact.html">Contact   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="privacy.html">Privacy policy <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-sm-6"><img class="img-fluid mb-3 d-none d-lg-block" src="img/blog/photo-1534126511673-b6899657816a.jpg" alt=""/>
                    <!-- Megamenu list-->
                    <h6>Customer</h6>
                    <ul class="megamenu-list list-unstyled mb-lg-0">
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-login.html">Login/sign up<span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-orders.html">Orders <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-order.html">Order detail <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-order-tracking.html">Order tracking <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-addresses.html">Addresses <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-account.html">Profile <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                      <li class="megamenu-list-item"><a class="megamenu-list-link" href="customer-wishlist.html">Wishlist <span class="badge badge-primary-light ml-1">New</span>   </a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <!-- /Megamenu end-->
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="docsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs</a>
              <div class="dropdown-menu" aria-labelledby="homeDropdown"><a class="dropdown-item" href="docs/index.html">Introduction </a><a class="dropdown-item" href="docs/directory-structure.html">Directory structure </a><a class="dropdown-item" href="docs/gulp.html">Gulp </a><a class="dropdown-item" href="docs/customizing-css.html">Customizing CSS </a><a class="dropdown-item" href="docs/credits.html">Credits </a><a class="dropdown-item" href="docs/changelog.html">Changelog </a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="docs/components-bootstrap.html">Bootstrap </a><a class="dropdown-item" href="docs/components-theme.html">Theme </a>
              </div>
            </li>
          </ul>
          <form class="d-lg-flex ml-auto mr-lg-5 mr-xl-6 my-4 my-lg-0" action="#">
            <div class="input-group input-group-underlined">
              <input class="form-control form-control-underlined pl-3" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search">
              <div class="input-group-append ml-0">
                <button class="btn btn-underlined py-0" id="button-search" type="button"> 
                  <svg class="svg-icon navbar-icon">
                    <use xlink:href="#search-1"> </use>
                  </svg>
                </button>
              </div>
            </div>
          </form>
          <ul class="list-inline mb-0 d-none d-lg-block">
            <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#loginModal">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#avatar-1"> </use>
                </svg></a></li>
            <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary position-relative" href="wishlist.html">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#heart-1"> </use>
                </svg>
                <div class="navbar-icon-badge">3</div></a></li>
            <li class="list-inline-item position-relative mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarCart">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#retail-bag-1"> </use>
                </svg>
                <div class="navbar-icon-badge">5</div></a></li>
            <li class="list-inline-item"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarRight">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#menu-hamburger-1"> </use>
                </svg></a></li>
          </ul>
        </div>
    </nav>
    </header>
   