<!-- navbar-->
    <header class="header"> 
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-transparent border-0 shadow-0 navbar-light px-lg-5 "><a class="navbar-brand" href="products#index"><i class="fas fa-cat fa-3x"></i></a>
        
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mt-3 mt-lg-0">
            <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" id="homeDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">E-Cat</a>
              <div class="dropdown-menu" aria-labelledby="homeDropdown"><a class="dropdown-item" href="#list_of_categories">Catégories </a><a class="dropdown-item" href="#list_of_cats">Nos chats </a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Votre Profile</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Team</a>
            </li>
            
          </ul>


          <form class="d-lg-flex ml-auto mr-lg-5 mr-xl-6 my-4 my-lg-0" action="#">
            <div class="input-group input-group-underlined">
              <input class="form-control form-control-underlined pl-3" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search">
              <div class="input-group-append ml-0">
                <button class="btn btn-underlined py-0" id="button-search" type="button"> 
                  <svg class="svg-icon navbar-icon">
                    <use xlink:href="#search-1"> </use>
                  </svg>
                </button>
              </div>
            </div>
          </form>

          <ul class="list-inline mb-0 d-none d-lg-block">
            <li class="list-inline-item mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#loginModal">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#avatar-1"> </use>
                </svg></a></li>
            
            <li class="list-inline-item position-relative mr-3"><a class="text-dark text-hover-primary" href="#" data-toggle="modal" data-target="#sidebarCart">
                <svg class="svg-icon navbar-icon">
                  <use xlink:href="#retail-bag-1"> </use>
                </svg>
                <div class="navbar-icon-badge">5</div></a></li>
            
          </ul>
        </div>
    </nav>
    </header>
   