<nav class="navbar navbar-expand-lg navbar-dark bg-dark fh5co-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2">
        <div class="fh5co-logo"> 
          <%= link_to " E-cat", root_path , class:"fas fa-cat fa-3x" %>
        </div>
      </div>
      <div class="col-md-6 col-xs-6 text-center menu-1" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to " Profile", user_path(current_user), class: "nav-link fas fa-user fa-3x" %>
            </li>
            <li class="nav-item">
              <%= link_to " Vendre une image de chat", new_product_path, class: "nav-link fas fa-paw fa-3x" %>
            </li>
            <li class="nav-item">
              <%= link_to " Panier", cart_path(Cart.find_or_create_by(user_id: current_user.id)), class: "nav-link fas fa-shopping-cart fa-3x" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
